*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 31.25%;
  scroll-behavior: smooth;
}
@media (min-width: 400px) {
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  background: #eee;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

@media (min-width: 600px) {
  .d-flex-md {
    display: flex;
  }
}

.flex-1 {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 3rem;
}

.g-5 {
  gap: 5rem;
}

.d-none {
  display: none;
}

@media (min-width: 900px) {
  .d-block-md {
    display: block;
  }
}

.pY-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pY-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pX-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.pX-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.pL-1 {
  padding-left: 1rem;
}

.pR-1 {
  padding-right: 1rem;
}

.pT-1 {
  padding-top: 1rem;
}

.pB-1 {
  padding-bottom: 1rem;
}

.mT-1 {
  margin-top: 1rem;
}

.mT-2 {
  margin-top: 2rem;
}

.mY-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mY-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.bg-black {
  background: #2d2d2e;
  color: #ffffff;
}

.bg-white {
  background: #ffffff;
}

.bg-green {
  background: #009657;
  color: #ffffff;
}

.c-green {
  color: #009657;
}
.c-green::placeholder {
  color: #009657;
}

.c-white {
  color: #ffffff !important;
}

.borderL-white {
  border-left: 1px solid #ffffff;
}

.borderR-white {
  border-right: 1px solid #ffffff;
}

.borderL-black {
  border-left: 1px solid #2d2d2e;
}

.borderR-black {
  border-right: 1px solid #2d2d2e;
}

.border-gray {
  border: 2px solid #9e9e9e;
}

.border-none {
  border: none;
}

.list-none {
  list-style: none;
}

.decoration-none {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.fs-1 {
  font-size: 1rem;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.fs-1-7 {
  font-size: 1.7rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 3rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-700 {
  font-weight: 700;
}

.radius-1 {
  border-radius: 1rem;
}

.radius-2 {
  border-radius: 2rem;
}

.txt-center {
  text-align: center;
}

.container {
  max-width: 1500px;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
}
.btn--radius {
  border-radius: 10rem;
}

.wrapper {
  width: 100%;
  padding-top: 20px;
}

.carousel {
  width: 100%;
  margin: 0px auto;
}
.carousel span {
  display: inline-block;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
}

.wrapper .slick-dots li button:before {
  font-size: 18px;
  color: green;
  opacity: 1;
}

.wrapper .slick-dots li {
  margin-right: -5px;
}

.image-box {
  position: relative;
}
.image-box span {
  position: absolute;
  padding: 0.5rem 1rem;
  bottom: -1rem;
  left: 2rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
#mySelect {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: gray;
  z-index: 20;
  opacity: 0.5;
  display: none;
}

.content {
  width: 100%;
}

.content .no-result {
  display: none;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 80px;
  border: 1px solid gray;
}

.content .add-book {
  display: flex;
  display: none;
  position: relative;
}

.content .add-book button {
  position: absolute;
  bottom: 5px;
}

.content .add-book .book-info {
  margin-right: 40px;
  margin-left: 20px;
}

.content .content__search {
  padding-left: 15px;
  display: none;
}

.content .content__search input {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;
}

.content .content__search button {
  font-size: 16px;
  height: 30px;
  width: 100px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #009657;
  background: #009657;
  color: white;
}

.content .content__product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
@media (min-width: 700px) {
  .content .content__product {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  .content .content__product {
    grid-template-columns: repeat(4, 1fr);
  }
}

.content .content__product .content__product__item {
  width: calc(25% - 30px);
  margin-right: 30px;
  margin-bottom: 20px;
  background: white;
}

.content .content__product .content__product__item .highlight {
  color: #009657;
}

.content .content__product .content__product__item ul {
  width: calc(33.3333333333% - 30px);
  margin-right: 30px;
}

.content .content__product .content__product__item a {
  position: relative;
  width: 100%;
  padding-top: 58%;
  display: block;
}

.content .content__product .content__product__item a img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.content .content__paging {
  display: flex;
  justify-content: space-between;
}

/* .content .content__paging .page{
    flex-grow: 1;
} */
.content .content__paging .page-config {
  margin-right: 30px;
}

.content .content__paging .page-config select {
  width: 50px;
  height: 25px;
  border-radius: 3px;
}

.content .content__paging .total-item,
.total-page {
  margin-right: 30px;
}

.content .content__paging .number-page {
  display: flex;
}

.content .content__paging ul {
  display: flex;
  justify-content: center;
}

.content .content__paging li {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.content .content__paging ul li a {
  color: black;
}

.btn-active {
  color: #c6cccc;
  border: solid 1px #c6c9cc !important;
}

.content .content__paging .active {
  background: #009657;
}

.content .content__paging .active a {
  color: white;
}

.columns-2 .content__actu {
  border-radius: 1rem;
}
.columns-2 .content__actu .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 700px) {
  .columns-2 .content__actu .box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  .columns-2 .content__actu .box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 900px) {
  .columns-2 .content__actu .box.box-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.columns-2 .content__actu .box.box-3 img {
  height: 35rem;
}
@media (min-width: 900px) {
  .columns-2 .content__actu .box.box-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.columns-2 .content__actu .box.box-2 img {
  height: 37rem;
}
.columns-2 .content__actu .box img {
  height: 25rem;
  object-fit: cover;
}

.column-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 700px) {
  .column-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nav__top img {
  height: 2.3rem;
}
.nav__main-logo img {
  width: 15rem;
}

.searchdiv {
  max-height: 0;
  transition: all 1s;
}

.maxhe {
  max-height: 1000px !important;
}

.footer > .d-flex {
  flex-direction: column;
}
@media (min-width: 700px) {
  .footer > .d-flex {
    flex-direction: row;
  }
}
.footer > .d-flex > div {
  flex: 1;
  margin-top: 2rem;
}
.footer__logo img {
  height: 7.5rem;
}
.footer__logo p {
  font-size: 1.5rem;
}
.footer ul li img {
  height: 2.5rem;
}

.formBody .textarea {
  height: 10rem;
  resize: none;
}
.formBody > .d-flex {
  flex-direction: column;
}
@media (min-width: 900px) {
  .formBody > .d-flex {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
