.nav {
  &__top {
    img {
      height: 2.3rem;
    }
  }

  &__main {
    &-logo {
      img {
        width: 15rem;
      }
    }
  }
}



.searchdiv {
  max-height: 0;
  transition: all 1s;
}

.maxhe {
  max-height: 1000px !important;
}